body {
    background-color: rgb(61, 61, 61);
}

.bgimage1 {
    background-image: url(https://cdn.wallpapersafari.com/37/80/1RSDmV.png);
    background-repeat: repeat;
    background-size: fill;
}

.bgimage2 {
    background-image: url(https://www.teahub.io/photos/full/19-195401_retro-video-game-wallpapers-desktop-background-is-cool.jpg);
    background-repeat: repeat;
    background-size: fill;
}

.bgimage3 {
    background-image: url(https://wallpaper.dog/large/20400413.png);
    background-repeat: repeat;
    background-size: fill;
}

#bg_button {
    width: 120px;
    margin-left: 7px;
    font-weight: bold;
}

#head {
    text-align: center;
    color: blueviolet;
    text-shadow: 1px 0.5px 4px rgb(226, 43, 43);
}

#computer {
    width: 220px;
}

.cardhead {
    text-align: center;
    color: blueviolet;
    text-shadow: 3px 5px 6px rgb(102, 102, 102);
}

#image {
    text-align: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

#show {
    width: 500px;
    height: 70px;
}

#insidecomputer {
    margin-left: -5px;
}

.imagecomputer {
    width: 10rem;
    height: 11rem;
    cursor: no-drop;
}

#computerscorediv {
    width: 80px;
    height: 40px;
    margin-left: 4rem;
    margin-top: 15rem;
}

#computerscore {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    margin-top: 4px;
}

#playerscorediv {
    width: 80px;
    height: 40px;
    margin-right: 4rem;
    margin-top: 22rem;
}

#playerscore {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    margin-top: 4px;
}

.imageplayer {
    width: 10rem;
    height: 11rem;
    cursor: pointer;
}

#optionscard {
    width: 35rem;
    height: 4rem;
    margin-left: 24%;
    position: relative;
    margin-top: -180px;
    display: inline-block;
    padding: 17px;
}

.btnprop {
    width: 120px;
    margin-left: 7px;
    font-weight: bold;
}

.btnprop:hover {
    background-color: rgba(15, 15, 15, 0.719);
}

.choice {
    text-align: center;
    color: darkgreen;
}

#c-choice {
    padding-top: 5px;
}

#player :hover {
    border-color: green;
    border-width: 5px;
}